@tailwind base;
@tailwind components;
@tailwind utilities;


/* Breakpoints
usage: sm:...
sm	640px	
md	768px	
lg	1024px	
xl	1280px	
2xl	1536px 
*/

*{
  box-sizing: border-box;
}

html,
body{
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  color: white;
  background-color: #0f1522;
}

.main-container{
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 1rem;
}
