@tailwind base;

/* ::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background: pink;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
} */

@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

html,
body{
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
}
